In [1]:
from datetime import datetime
import pandas as pd

In [2]:
df = pd.read_csv("../data_sets/nari_dynamic_limited.csv")
df
#we can see that t is a timestamp

,sourcemmsi,navigationalstatus,rateofturn,speedoverground,courseoverground,trueheading,lon,lat,t
0,245257000,0,0,0.1,13.1,36,-4.465718,48.382490,1443650402
1,227705102,15,-127,0.0,262.7,511,-4.496571,48.382420,1443650403
2,228131600,15,-127,8.5,263.7,511,-4.644325,48.092247,1443650404
3,228051000,0,-127,0.0,295.0,511,-4.485108,48.381320,1443650405
4,227574020,15,-127,0.1,248.6,511,-4.495441,48.383660,1443650406
...,...,...,...,...,...,...,...,...,...
49994,228051000,0,-127,0.0,293.4,511,-4.485077,48.381270,1443698515
49995,228174600,0,0,10.4,273.5,274,-4.458620,48.122944,1443698516
49996,228064900,0,0,3.9,119.8,119,-4.506620,48.338608,1443698517
49997,234056000,3,0,2.7,84.9,72,-4.891089,48.214794,1443698517
49998,228190600,7,-127,0.0,0.0,511,-4.323767,48.097992,1443698517

In [3]:
print(df.isna().sum())
#no missing data nice

sourcemmsi            0
navigationalstatus    0
rateofturn            0
speedoverground       0
courseoverground      0
trueheading           0
lon                   0
lat                   0
t                     0
dtype: int64

In [4]:
date = df['t']
date

0        1443650402
1        1443650403
2        1443650404
3        1443650405
4        1443650406
            ...
49994    1443698515
49995    1443698516
49996    1443698517
49997    1443698517
49998    1443698517
Name: t, Length: 49999, dtype: int64

In [5]:
for ts in date:
    print(datetime.fromtimestamp(int(date)).date())

TypeError: cannot convert the series to <class 'int'>